<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shujuku</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckCodeServlet</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.myservlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheckServlet</display-name>
    <servlet-name>LoginCheckServlet</servlet-name>
    <servlet-class>com.myservlet.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheckServlet</servlet-name>
    <url-pattern>/LoginCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.myservlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.myservlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.myservlet.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowServlet</display-name>
    <servlet-name>BorrowServlet</servlet-name>
    <servlet-class>com.myservlet.BorrowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowServlet</servlet-name>
    <url-pattern>/BorrowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveServlet</display-name>
    <servlet-name>ReserveServlet</servlet-name>
    <servlet-class>com.myservlet.ReserveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveServlet</servlet-name>
    <url-pattern>/ReserveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeInfo</display-name>
    <servlet-name>ChangeInfo</servlet-name>
    <servlet-class>com.myservlet.ChangeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeInfo</servlet-name>
    <url-pattern>/ChangeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GivebackServlet</display-name>
    <servlet-name>GivebackServlet</servlet-name>
    <servlet-class>com.myservlet.GivebackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GivebackServlet</servlet-name>
    <url-pattern>/GivebackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelReserve</display-name>
    <servlet-name>CancelReserve</servlet-name>
    <servlet-class>com.myservlet.CancelReserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelReserve</servlet-name>
    <url-pattern>/CancelReserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBook</display-name>
    <servlet-name>DeleteBook</servlet-name>
    <servlet-class>com.myservlet.DeleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBook</servlet-name>
    <url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpateBook</display-name>
    <servlet-name>UpateBook</servlet-name>
    <servlet-class>com.myservlet.UpateBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpateBook</servlet-name>
    <url-pattern>/UpateBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBook</display-name>
    <servlet-name>UpdateBook</servlet-name>
    <servlet-class>com.myservlet.UpdateBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBook</servlet-name>
    <url-pattern>/UpdateBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>com.myservlet.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBorrow</display-name>
    <servlet-name>DeleteBorrow</servlet-name>
    <servlet-class>com.myservlet.DeleteBorrow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBorrow</servlet-name>
    <url-pattern>/DeleteBorrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGiveback</display-name>
    <servlet-name>DeleteGiveback</servlet-name>
    <servlet-class>com.myservlet.DeleteGiveback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGiveback</servlet-name>
    <url-pattern>/DeleteGiveback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReader</display-name>
    <servlet-name>DeleteReader</servlet-name>
    <servlet-class>com.myservlet.DeleteReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReader</servlet-name>
    <url-pattern>/DeleteReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeReader</display-name>
    <servlet-name>ChangeReader</servlet-name>
    <servlet-class>com.myservlet.ChangeReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeReader</servlet-name>
    <url-pattern>/ChangeReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Backup</display-name>
    <servlet-name>Backup</servlet-name>
    <servlet-class>com.myservlet.Backup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Backup</servlet-name>
    <url-pattern>/Backup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Restore</display-name>
    <servlet-name>Restore</servlet-name>
    <servlet-class>com.myservlet.Restore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Restore</servlet-name>
    <url-pattern>/Restore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAdminInfo</display-name>
    <servlet-name>ChangeAdminInfo</servlet-name>
    <servlet-class>com.myservlet.ChangeAdminInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAdminInfo</servlet-name>
    <url-pattern>/ChangeAdminInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Yuyin</display-name>
    <servlet-name>Yuyin</servlet-name>
    <servlet-class>com.myservlet.Yuyin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Yuyin</servlet-name>
    <url-pattern>/Yuyin</url-pattern>
  </servlet-mapping>
</web-app>